.teamsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }
  
  .subtitle {
    padding: 10px;
  }
  
  .teamList {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .teamCard {
    background-color: #e0e0e0;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .teamButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }