body {
  margin: 0px;
  color: '#333333'
}

h6 {
  color: '#333333'
}

span.text-gray, p.text-gray {
  color:#757575;
}

span.text-lightgray, p.text-lightgray {
  color:#9999;
}
}

/* src/styles/global.css */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #cccccc;
}

th, td {
  padding: 8px;
  text-align: center;
}

thead th {
  background-color: #f3f3f3;
}
